body {
  font-family:garamond;
  font-size: 15px;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}

#cf6_image {
  margin:0 auto;
  width:450px;
  height:281px;
  transition: background-image 1s ease-in-out;
  background-image:url("/images/Windows%20Logo.jpg");
}

#cf6_image:hover {
  background-image:url("/images/Turtle.jpg");
}

#header {
  color: white;
  padding: 5px;
  font-size: 30px;
  border-radius: 1px;
  text-align: center;
}

#bar {
  text-align:center;
  color: white;
}

#intro {
  font-family:sans-serif;
  text-align:center;
  color:white;
}

#posters {
  text-align:center;
}

li{
    display:inline;
    padding: 0px 12px 0px 12px;
    color:white;
    font-size: 20px;
  }

a:link {
    color: white;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
} /*from https://www.w3schools.com/css/tryit.asp?filename=trycss_link*/

#button {
text-align:center;
padding:10px;
}

.change_background_button {
  text-align:center;

}

#listserve_box {
  text-align:center;
}
